.dragonBalls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dragonBall {
    border: 1px solid rgb(0, 255, 242);
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.dragonBall:hover {
    cursor: pointer;
    box-shadow: 15px 15px 15px rgba(255, 0, 0, 0.89)
}

.card {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}

body {
    background-image: url("https://stmed.net/sites/default/files/dragon-ball-gt-wallpapers-25821-5360611.jpg");
}